# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=
APP_SHARE_DIR=var/share
APP_URL=https://127.0.0.1:8000
###< symfony/framework-bundle ###

###> symfony/routing ###
# Configure how to generate URLs in non-HTTP contexts, such as CLI commands.
# See https://symfony.com/doc/current/routing.html#generating-urls-in-commands
DEFAULT_URI=https://127.0.0.1:8000
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data_%kernel.environment%.db"
DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8.0.32&charset=utf8mb4"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
# DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

GOOGLE_CLIENT_ID="id"
GOOGLE_CLIENT_SECRET="secret"
FACEBOOK_CLIENT_ID="id"
FACEBOOK_CLIENT_SECRET="secret"

###> symfony/mailer ###
MAILER_DSN=smtp://mail:pass@smtp:port
MAIL_FROM_ADDRESS=mail@example.com
MAIL_FROM_NAME="Inventory App"
###< symfony/mailer ###

IMG_CDN_TOKEN="TOKEN"
IMG_CDN_API="https://imgcdn.dev/api/1/upload"
SHOW_404_403_TEMPLATES=1

### Salesforce
SALESFORCE_CLIENT_ID="id"
SALESFORCE_CLIENT_SECRET="secret"
SALESFORCE_ENABLED=1
SALESFORCE_REDIRECT_URI="https://site/auth/salesforce/callback"
SALESFORCE_AUTH_URL="https://login.salesforce.com/services/oauth2/authorize"
SALESFORCE_TOKEN_URL="https://login.salesforce.com/services/oauth2/token"
SALESFORCE_API_BASE_URL="https://na1.salesforce.com/services/data/v45.0/"

DROPBOX_ACCESS_TOKEN="access_token"
DROPBOX_REFRESH_TOKEN="refresh_token"
DROPBOX_APP_KEY="dropbox_app_key"
DROPBOX_APP_SECRET="dropbox_app_secret"