# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    show_404_403_templates: '%env(bool:SHOW_404_403_TEMPLATES)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # OAuth2 Service configuration
    App\Service\OAuth2Service:
        arguments:
            $googleClientId: '%env(GOOGLE_CLIENT_ID)%'
            $googleClientSecret: '%env(GOOGLE_CLIENT_SECRET)%'
            $facebookClientId: '%env(FACEBOOK_CLIENT_ID)%'
            $facebookClientSecret: '%env(FACEBOOK_CLIENT_SECRET)%'
            $appUrl: '%env(APP_URL)%'

    App\Service\Integration\Salesforce\SalesforceService:
        arguments:
            $enabled: '%salesforce.enabled%'
            $clientId: '%salesforce.client_id%'
            $clientSecret: '%salesforce.client_secret%'
            $redirectUri: '%salesforce.redirect_uri%'
            $authUrl: '%salesforce.auth_url%'
            $tokenUrl: '%salesforce.token_url%'
            $apiBaseUrl: '%salesforce.api_base_url%'

    App\Service\EmailService:
        arguments:
            $fromAddress: '%env(MAIL_FROM_ADDRESS)%'
            $fromName: '%env(MAIL_FROM_NAME)%'

    # Email verification voter
    App\Security\EmailVerificationVoter:
        tags: ['security.voter']

    # Exception listener configuration
    App\EventListener\ExceptionListener:
        arguments:
            $showCustomErrorTemplates: '%show_404_403_templates%'

    # Error handler service
    App\Service\ErrorHandlerService:

    # Image upload service
    App\Service\ImageUploadService:
        arguments:
            $imgcdnApiKey: '%env(IMG_CDN_TOKEN)%'
            $imgcdnApiUrl: '%env(IMG_CDN_API)%'

    # Cloud storage service (Dropbox)
    App\Service\CloudStorageService:
        arguments:
            $dropboxAccessToken: '%env(DROPBOX_ACCESS_TOKEN)%'
            $dropboxRefreshToken: '%env(DROPBOX_REFRESH_TOKEN)%'
            $dropboxAppKey: '%env(DROPBOX_APP_KEY)%'
            $dropboxAppSecret: '%env(DROPBOX_APP_SECRET)%'

    # Dropbox OAuth2 Controller
    App\Controller\DropboxAuthController:
        arguments:
            $dropboxAppKey: '%env(DROPBOX_APP_KEY)%'
            $dropboxAppSecret: '%env(DROPBOX_APP_SECRET)%'
            $appUrl: '%env(APP_URL)%'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
